.hero-rango {
    position: relative;
    height: 100vh;
    background: #ff8c00 url("../../assets/OrangeBg.png") center center / cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    padding: 0 15px;
    z-index: 2;
}

.hero-rango-text {
    position: absolute;
    color: #fff;
    text-align: center;
    z-index: 3;
}

.top-rango-text {
    position: relative;
    left: 50px;
    top: 30px;
    font-size: 128px;
    color: white;
    font-weight: 700;
}

.left-rango-text {
    position: absolute;
    left: 330px;
    top: 260px;
    font-size: 48px;
    color: white;
    font-weight: 700;
}

.bottom-rango-text {
    position: relative;
    left: 540px;
    top: -60px;
    font-size: 128px;
    color: white;
    line-height: 100px;
    text-align: left;
    font-weight: 700;
}

.bottom-rango-text span {
    text-align: left;
}

/* 🍊 Oranges & 🍃 Leaves */
.orange-2 {
    position: absolute;
    width: 300px;
    height: 220px;
    bottom: -30px;
    right: -80px;
}

.ice-1 {
    position: absolute;
    width: 210px;
    /* height: 130px; */
    top: -20px;
    left: 110px;
}

.leaf-1 {
    position: absolute;
    width: 140px;
    height: 160px;
    top: 120px;
    left: -280px;
}

.ice-2 {
    position: absolute;
    width: 130px;
    /* height: 160px; */
    top: 260px;
    left: -300px;
}

/* Bottle */
.bottle-rango-wrap {
    position: relative;
    z-index: 4;
    margin-top: 100px;
}

.bottle-rango {
    width: 130px;
}

/* Mouse Scroll */
.mouse-rango {
    position: absolute;
    bottom: 20px;
    width: 35px;
    animation: mouseRangoAnim 1.5s infinite ease-in-out;
}

@keyframes mouseRangoAnim {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}